@use "global" as *;

.c-section-title {
  font-size: rem(36);
  font-family: $font-main;
  color: $color-title;
  line-height: 1.5;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  @include mq(md){
    font-size: rem(48);
  }
}