@use "global" as *;

.p-products {
  background-color: $color-bg-section;
  padding-top: rem(50);
  padding-bottom: rem(50);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

.p-products__wrap {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    flex-direction: row;
    align-items: center;
  }
}

.p-products__left-wrap {
  margin-top: rem(30);
  display: contents;
  @include mq('md') {
    display: block;
    margin-top: rem(36);
    width: 50%;
  }
}

.p-products__title {
  order: 1;
  text-align: center;
  padding-bottom: rem(30);
}

.p-products__btn {
  order: 3;
  padding-top: rem(50);
  text-align: center;
  @include mq(md) {
    padding-top: 0;
  }
}

.p-products__cards {
  order: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(25);
  @include mq('md') {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(33);
    row-gap: rem(25);
    padding-left: rem(17);
  }
}
